*{
    margin: 0;
    font-family: Arial;
    color: white;
}

main{
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url(fundo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 70px;
}

h4{
    font-size:30px;
    background: white;
    color: black;
    margin-top:20px;
    margin-bottom: 40px;
}
a{
    border: 1px solid white;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    transition: 1.3s ease;
}
a:hover{
    color: #000;
    background: #fff;
}