*{
    margin:0;
    padding: 0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  */
    font-family: 'Raleway', sans-serif;
}
#pagina-home{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/fundo.jpg);
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    widows: 150px;
}
.menu-principal ul{
    list-style: none;
}
.menu-principal ul li{
    display: inline-block;

}
.menu-principal ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
.menu-principal ul li a:hover{
    color: black;
    background-color: white;
}
.link-ativo{
    color: black;
}

#pagina-servicos{
    height: 100vh;

}